<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>The Online Grocery Shop</title>
  </head>
  <body>
    <div class="jumbotron">
  <h1 class="display-4">The Online Grocery Shop</h1>
  <p class="lead">This project will help customer to find different products according category, product type and pricing. It is designed in such a way that one can view all the updates of the products online, this software will also help in easy updating and maintaining the products in the website itself for the administration ,also showing the associativity among the items enhancing the view of customer so he/she can also have a better range of the variety of other good available in our online store
</p>
  <hr class="my-4">
    <h2 class="display-4">GOALS</h2>
      <h4>1. To ensure customer satisfaction through good packing and delivery.</h4>
      <h4>2. Management of Internet product returns.</h4>
      <h4>3. To make Data-Base that is consistent, reliable, correct, complete and secure.</h4>
      <h4>4. To develop a well-organized data collection system.</h4>
      <h4>5. Increased efforts in improving online security</h4>
  <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>